/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hover-button: #e2dada;
    --light-pink: #FCF8F8;
    --background: #FBEFEF;
    --form-pink: #F9DFDF;
    --dark-pink: #F5AFAF;
}