.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    .info {
        display: flex;
        justify-content: space-between;
    }

    .title {
        font-weight: bold;
    }

    mat-chip {
        background-color: #FFD1BD;
        height: 2rem;
        font-weight: bold;
    }
}