/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red-header: #990F1E;
    --red-nav: #AD2B32;
    --food-card: #E37883;
    --light-red: #ffcdd2;
    --market-card: #FFAB85;
    
    font-family: sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
