<!-- <div class="container">
    <div class="item" *ngFor="let person of pessoas; track: $index">
        {{ person.name }}
    </div>
</div> -->

<div class="container">
    <div class="item" *ngFor="let food of foods; track: $index" (click)="openModal(food)">
        <app-comida-card [value]="food"></app-comida-card>
    </div>
</div>

<!-- <app-modal *ngIf="focusedFood" [item]="focusedFood" (onClose)="focusedFood = undefined"></app-modal> -->

<app-general-modal
    *ngIf="focusedFood"
    (onClose)="focusedFood = undefined"
    [Confirmation]="true"
    [Title]="'olha so'"
    SaveLabel="Adicionar na sacola"
    (onSave)="save()"
>
    <header>
        <div class="title">
            <h1>{{ focusedFood?.name }}</h1>
        </div>
    </header>
    <div class="content">
        <p *ngIf="focusedFood?.description">{{ "Descrição: " + focusedFood?.description }}</p>
        <p>{{ "Preço: R$" + focusedFood?.price }}</p>
    </div>
</app-general-modal>