<!-- app component é o componente pai, os componentes filhos se comunicam através do pai -->

<!-- <app-button (onClick)="clicadoai()" [label]="this.count.toString()"></app-button> -->

<!-- <br> -->

<!-- o pai passa a mudança de texto para o filho botão -->
<app-button [label]="this.text"></app-button>

<!-- chama a função updateText quando o filho emite um evento -->
<!-- o componente pai recebe o texto e passa para a função -->
<!-- 
<app-input (messageEvent)="updateText($event)" [label]="this.text"></app-input> -->

<input type="text" [(ngModel)]="text">
