header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #E6C0ED;
    align-items: center;

    .links {
        display: flex;
        gap: 1rem;
    }
}