.modal-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0; left: 0;
    z-index: 0;
    backdrop-filter: blur(2px);
}

.modal-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    position: fixed;
    width: 30rem;
    height: 22rem;
    top: 0; left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: flex-start;
        position: fixed;
        width: 30rem;
        height: 5rem;
        padding: 2rem;
        /* background-color: aqua; */
    }
    
    .title {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 100%;
    }
    
    .close {
        cursor: pointer;
    }
    
    .content {
        height: 15rem;
        width: 30rem;
        /* background-color: blueviolet; */
        margin-top: 5rem;
        padding: 2rem;
        overflow-y: scroll auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .footer {
        display: flex;
        justify-content: end;
        height: 3rem;
        margin: 2rem;
    }

    button {
        background-color: var(--light-red);
        padding: 1rem;
        border-radius: 1rem;
        border: none;
        font-weight: bold;
    }

    button:hover {
        background-color: var(--food-card);
        cursor: pointer;
    }
}